---
import "../styles/footer.css";
import "../styles/nightmode.css";
---

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Über mich</title> <!-- Später Über uns!!! -->
    </head>
    
    <body>
        <header>
            <section class="navigation">
                <nav>
                    <ul>
                        <li><a href="/">Startseite</a></li>
                        <li><a href="/about">Über mich</a></li>
                        <li><a href="/projects">Projekte</a></li>
                        <li><a href="/failed_and_newly_started_projects">Gescheiterte und neu angefangende Projekte</a></li>
                        <li><a href="/faq">FAQ</a></li>
                        <li><button id="nightModeBtn">Night Mode</button></li>
                        <li><button id="anmelden" class="btn-login">Anmelden</button></li>
                        <li><button id="registrieren" class="btn-register">Registrieren</button></li>
                    </ul>
                </nav>
            </section>
    
            <main>
                <article>
                <section class="about-me"> <!-- Über uns später -->
                <h1>Über mich</h1>
                <p>
                    Hallo! Ich bin Wulfy, auch bekannt als UEBlackWulfGHG.
                    Ich bin leidenschaftlicher Entwickler und Content Creator.
                </p>
                <p>
                    Meine Interessen umfassen Programmierung, Gaming, das Erstellen von Inhalten für meine Community und ich gehe zur Feuerwehr.
                    Diese Webseite dient als Plattform, um meine Projekte zu präsentieren und ich wollte meiner Community etwas zurückgeben.
                    auch wenn es nur was kleines ist.
                </p>
            </section>
            </article>
            </main>

            <aside>
            <section class="thx">
                <h2>Danke fürs Besuchen!</h2>
                <p>
                    Ich schätze jeden einzelnen Besucher meiner Webseite.
                    Vielen Dank für eure Unterstützung und euer Interesse an meinen Projekten!
                </p>
                <p>
                    Und kommt gerne auch auf Twitch denn dort entsteht der meiste Content.
                    Ich freue mich darauf, euch dort zu sehen!
                    <a href="https://www.twitch.tv/ueblackwolf">Mein Twitch Kanal</a>
                </p>
            </section>
            </aside>
        </header>
    
        <foodder>
	    <div class="footer-container">
		<div class="footer-column">
			<h4>Kontakt</h4><br>
			<p>Discord: ueblackwulf</p><br>
			<p>Oder auch per Email: wulfghg@gmail.com</p><br>
			<div class="footer-column">
				<h4>Zum Discord Server:</h4>
				<!-- Später imressum noch eintragen!!! -->
				<ul>
					<li><a href="https://discord.gg/gy4HYACX9g">Server</a></li>
				</ul>
				<p>&copy; 2026 UEBlackWulfGHG all rights reserved.</p>
			</div>
		</div>
	</div>
	</foodder>

        <script src="../scripts/nightmode.js"></script>
        <script src="../scripts/navigation.js"></script>
    </body>
</html>