---
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  title: string;
  lang?: string;
}

const { title, lang = 'de' } = Astro.props;
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <Analytics />
  </head>

  <body>
    <slot />
    <SpeedInsights />
  </body>
</html>
